/*Sidebar*/

.sidebar {
    padding: 50px 15px 60px 55px;
    width: 270px;
    min-height: 100vh;
    background-color: rgb(219, 219, 219);
    flex-direction: column;
    display:inline-flex;
}

.sidebar-logo {
    margin-bottom: 57px;
}

/*Nav*/
.nav-title {
    margin-bottom: 44px;
    font-weight: 700;
    font-size: 30px;
}
.nav-list {
    font-size: 16px;
}
.nav-list li {
    margin-bottom: 27px;
}
.nav-list a {
    transition: color 0.2s ease-in;
}
.nav-list a:hover {
    color: #fd2e24;
}
.nav-list img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 26px;
    height: auto;
    object-fit: none;
}
.help {
    margin-top: auto;
    font-size: 16px;
    font-weight: 700;
}
.help img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

/* main*/
.main {
    width: 1100px;
    
}

/*Search*/
.search {
    font-family: 'Circular Std';
    width: 490px;
    height: 35px;
}
.search-label {
    height: 100%;
    display: flex;
    
}
.search-icon {
    font-family: 'Circular Std';
    
}
.search-input {
     padding: 0 17px;
     flex-grow: 1;
     font-size: 17px;
     font-weight: 500;
     

}
.search-input::placeholder {
    font-family: 'Circular Std';
    color: rgba(0, 0, 0, 0.2);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}